<div class="page-header">
	<div class="container text-center">  
  		<p>We are currently experience some trouble so please be patient</p>  		
  	</div>
</div>

<div class="jumbotron">
    <div class="container text-center">
    	<h3>Please select how you are feeling</h3>
        <span ng-repeat="mood in moods track by $index">
            <br ng-if="$index%4==0"/>
            <button title="{{mood.description}}" class="btn btn-default" ng-click="setMood(mood)" ng-class="{'btn-success':myMood.selected==mood.id}">{{mood.name}}</button>
        </span>
    </div>    
</div>

<br/><br/>

<div class="container">
	<div class="text-center">   		
	<a class="btn btn-default" href="start" ng-class="{'btn-primary':myMood.selected!=null}" ng-disabled="myMood.selected==null">Done</a>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container text-center">
		<a href="" ng-click="showModal()" translate>Global:Button:Home</a> | 
		<a href="" data-ng-click="help.isVisible=!help.isVisible">
            <span ng-show="help.isVisible==false" translate>Global:Button:Help</span>
            <span ng-show="help.isVisible==true" translate>Global:Button:Hide Help</span>
        </a>
		<a href="" ng-click="showModal()" translate>Global:Button:Privacy</a> | <a href="admin" translate>Global:Button:Admin</a>		
	</div> 
</nav>